@import "tailwindcss";

/* Habilitamos el Modo Oscuro manual */
@variant dark (&:where(.dark, .dark *));

@theme {
  /* Nuestros colores de guerra */
  --color-neon-green: #39ff14;
  --color-alert-red: #ff003c;
  --color-dark-base: #0a0a0a;
  --color-dark-card: #111111;
  
  /* NUESTRAS TIPOGRAFÍAS PREMIUM */
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@layer base {
  html, body {
    @apply transition-colors duration-500 ease-in-out antialiased;
    /* Forzamos a que todo el texto base use la tipografía Inter */
    font-family: var(--font-sans);
  }
}

/* Ocultar la barra de desplazamiento (scrollbar) */
::-webkit-scrollbar {
  display: none;
}